body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.FooterButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(14, 97, 185);
  font-size: 14px;
  padding: 16px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: none;
}

.FooterButton:disabled {
  background-color: grey;
}
